<div>
    <ul class="nav">
        <li class="nav_item"><a href="http://localhost:8080/api/products">Productos actuales</a></li>
        <li class="nav_item"><a href="http://localhost:8080/api/products/realtime">Agregar productos</a></li>
    </ul>
</div>