<div>
    <ul class="nav">
        <li class="nav_item"><a href="http://localhost:8080/">Productos actuales</a></li>
        <li class="nav_item"><a href="http://localhost:8080/products">Agregar productos</a></li>
        {{!-- <li class="nav_item">Carrito</li> --}}
    </ul>
</div>